<mat-toolbar style="top: 0%;">
    
    <div fxShow class="college-logo-small image-1x" style="align-content: center;"></div>
        <div>
       
        
        <span style="text-align: center; font-size: 20px; margin-left: 10px;font-weight: 1000;font-family: 'Times New Roman', Times, serif;" class="text-white">
            SHRI G. S. INSTITUTE OF TECHNOLOGY & SCIENCE, INDORE <br/></span>
            <!-- <span class="text-white" style="justify-content: center;">Department of Computer Engineering</span> -->
        
    </div>
    
  </mat-toolbar>
  <div class="reset-page">
      <div class="reset-wrapper">
        <div class="py-3 px-4">
          <div class="text-center pb-3">
            <img src="../../assets/icons/logo/logo_big.png" class="image-4x" alt="SGSITS LOGO" />
          </div>
          <h5 class="text-center pb-4">DEPARTMENT OF COMPUTER ENGINEERING</h5>
          <h1 class="text-center pb-3">Reset Password</h1>
          <form [formGroup]="resetForm" class="d-flex flex-column py-2">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <span class="fa fa-envelope p-2" matIconPrefix></span>
                <input matInput placeholder="Email" type="text" formControlName="email" [(ngModel)]="email" readonly/>
              </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <span class="fa fa-lock p-2" matIconPrefix></span>
              <input matInput placeholder="Password" type="password" formControlName="password" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <span class="fa fa-lock p-2" matIconPrefix></span>
                <input matInput placeholder="Password" type="password" formControlName="confirm_password" />
              </mat-form-field>
            <button mat-raised-button [disabled]="!resetForm.valid" color="primary" (click)="reset()">Confirm</button>
          </form>
         
        </div>
      </div>
    </div>
    <mat-toolbar id="mat-toolbar-footer" style=" bottom: 0; width: 100%; z-index: 1000; ">
      <span style="text-align: center; font-size: 16px" class="text-white">Copyright 2023-24 All right reserved by SGSITS</span>
      <div fxFlex  fxLayout>
       
        <button mat-button *ngFor="let data of footerList" >
          <a class="nav-link text-white" [routerLink]="[data.route]"
                routerLinkActive="active-header">
                <span>{{ data.text }}</span>
              </a>
        </button>
        <span>
          <button mat-button  >
            <a class="nav-link text-white" routerLink="/welcome"
                  routerLinkActive="active-header">
                  <span>Go back to Home Page</span>
                </a>
          </button>
        </span>
          
      </div>
      
      <!-- <span style="text-align: right; ">
        <a button mat-button class="text-white" routerLink="/welcome" >Go back to Home Page</a>
     </span> -->
    
    </mat-toolbar>