<nav mat-tab-nav-bar [tabPanel]="tabPanel" style="padding: 5px 20px">
    <a mat-tab-link *ngFor="let navItem of navItemList" [routerLink]="navItem.code" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">{{ navItem.value }}</a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
  <button mat-fab color="primary" style="position: fixed; bottom: 1rem; right: 1rem; z-index: 999" aria-label="Add meeting" (click)="createNewInfra()">
    <i class="bi bi-plus-lg" style="font-size: 24px"></i>
  </button>
  