<!-- <p>admin works!</p> -->
<div class="container" >
    <div class="content">
      <mat-card id="card1" class="routing mat-elevation-z2" style="--mdc-elevated-card-container-color: aliceblue">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title style="color: #2b32b2;font-size: 20px;font-weight: 1000;" >Student Registration</mat-card-title>
        </mat-card-header>
        <mat-card-content style="display: flex; justify-content: center; margin-top: 15%;">
            
            <button mat-raised-button color="primary" (click)="uploadCsv('register')" value="register">Upload csv</button>
          <!-- <img mat-card-image  alt="Photo of the Department"> -->
            
        </mat-card-content>
      </mat-card>
    </div>
    </div>
