<div class="container">
    <div class="content">
      <mat-card id="card3" class="routing" >
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title style="color: #2b32b2;font-size: 20px;font-weight: 1000;" >Department of Computer Engineering</mat-card-title>
        </mat-card-header>
        <mat-card-content>
         
          <img mat-card-image style="width: -webkit-fill-available;" [src]="image" alt="Photo of the Department">
          <p>
            Department of Computer Engineering of the Institute is pioneer in the field of Computer Engineering in the state of Madhya Pradesh and Central India. Established in year 1983, it offers the undergraduate and post graduate programmes, which started in year 1983 and 1986 respectively. The department is also a recognised center for Ph.D. under QIP.
        </p>
        <p>The department has dedicated qualified team of experienced as well as young and enthusiastic faculty members coping successfully with new challenges and rapid advancements in technology.  The research work of faculty members has been recognised at national and international level in areas like Artificial Intelligence,  Machine learning, Deep Learning, Compute Networks, Cloud Computing, Big Data, IoT, Web Technologies etc.  All the staff and faculty members work cooperatively in a very healthy and conducive environment.</p>
            <span style="color: red;"><b>Vision</b></span>
            <br/>
            To become centre of excellence for creating competent human resource in the field of Computer Science and Engineering meeting the dynamic societal and industrial needs.
            <br/>
            <br/>
            <span style="color: red;"><b>Mission</b></span>
            <br/>
            
            
            M1: To produce technically competent professionals in Computer Science and Engineering having a blend of theoretical knowledge and practical skills. 
            <br/>
            M2: To encourage innovation, research and analytical activities with professional ethics and responsibilities through quality education. 
            <br/>
            M3: To provide learning ambience in collaboration with industries to keep pace with dynamic technological advancements and promote spirit of entrepreneurship. 
            <br/>
            M4: To motivate students to apply knowledge to resolve societal and environmental challenges and engage in continuous learning towards sustainable development.
           
        </mat-card-content>
      </mat-card>
    </div>
