<p>event-upcoming works!</p>

<div class="events-container">
    <div class="row">
      <div class="col" *ngFor="let event of upcomingEvents">
        <div class="event-card">
          <!-- <div><mat-icon>edit</mat-icon></div> -->
          <div class="event-card-footer">
              <!-- <button mat-icon-button (click)="onEditEvent(event)">
                <mat-icon>edit</mat-icon>
              </button>
              <button>
                <mat-icon>delete</mat-icon>
              </button> -->
              <div class="button-container">
                <!-- <button mat-icon-button class="left-button" (click)="onEditEvent(event)">
                  <mat-icon>edit</mat-icon>
                </button> -->
                <button mat-icon-button class="right-button" (click)="onDeleteEvent(event.id)">
                  <mat-icon>delete</mat-icon>
                </button>
                <div class="btn-group">
                  <button type="button" style="background-color: orange;border: 1px solid white;" class="btn btn-danger btn-sm" (click)="onStatusUpcoming(event)">Edit</button>
                  <button type="button" style="background-color: rgb(235, 100, 38);border: 1px solid white;" class="btn btn-danger btn-sm" (click)="onStatusCompleted(event)">Completed</button>
                  <button type="button" style="background-color: rgb(109, 170, 219);border: 1px solid white;" class="btn btn-danger btn-sm" (click)="onStatusOngoing(event)">Ongoing</button>
                </div>
                
              </div>
            </div>
          <div class="event-card-header">
            <img *ngIf="event.logo" [src]="'data:image/jpeg;base64,' + event.logo" alt="Logo" class="event-logo"/>
          </div>
          
          <div class="event-card-body">
            <h3>{{ event.name }}</h3>
            <p><strong>Date:</strong> {{ event.date }}</p>
            <p><strong>Time:</strong> {{ event.time }}</p>
            <p><strong>Venue:</strong> {{ event.venue }}</p>
            <p><strong>Description:</strong> {{ event.description }}</p>
            <p><strong>Faculty Coordinator:</strong> {{ event.facultyCoordinator }}</p>
            <p><strong>Total Registrations:</strong> {{ event.totalRegistrations }}</p>
            <div class="event-images">
              <img *ngIf="event.eventImages" [src]="'data:image/jpeg;base64,' + event.eventImages" alt="Event Image" class="event-image"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  